.header{
    display: flex;
    gap: 2rem;
    margin: 2.2rem;


    .navigation ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        list-style: none;
        margin-left: 3.7rem;
    }

   
    
}