/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 112.5%;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  width: 100vw;
  margin: 0 auto;
  color: hsl(210deg, 10%, 33%);
}

.header {
  background: url(/images/bg-header-mobile.png) no-repeat;
  background-size: contain;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

p {
  margin-bottom: 2rem;
  font-size: 0.9rem;
  text-align: center;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border-radius: 20rem;
  margin-bottom: 1.3rem;
  padding: 0.5rem;
  color: #fff;
  width: 80%;
  border: none;
  margin: 0.5rem 2rem;
}

.cyan {
  background-color: hsl(171deg, 66%, 44%);
}
.cyan:hover {
  cursor: pointer;
  opacity: 0.7;
}

.blue {
  background-color: hsl(233deg, 100%, 69%);
  margin-bottom: 8rem;
}
.blue:hover {
  cursor: pointer;
  opacity: 0.8;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.snippets {
  margin-bottom: 8rem;
}

.logo img {
  width: 60%;
  margin-top: 3rem;
  margin-left: 15%;
  margin-bottom: 40%;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.snippets__image {
  margin-bottom: 2.5rem;
  margin: 0 2rem;
}

.text-content {
  margin: 0 2rem;
}

.worked-with {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 8rem;
}

.tools {
  margin: 0 2rem;
}

.ios-mac {
  margin-top: 10rem;
}

.logo-1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-1 img {
  width: 20%;
}

footer {
  background-color: rgb(235, 231, 231);
  padding: 1.2rem;
}

.links-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: hsl(210deg, 10%, 33%);
  margin-bottom: 0.5rem;
}
a:hover {
  color: hsl(171deg, 66%, 44%);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 3rem;
}
.socials i:hover {
  color: hsl(171deg, 66%, 44%);
  cursor: pointer;
}

@media (min-width: 760px) {
  html {
    font-size: 150%;
  }
  .logo img {
    width: 130%;
  }
  .heading {
    max-width: 690px;
    margin: 0 auto;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
  }
  button {
    width: 10rem;
    padding: 0.8rem;
    gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 105%;
  }
  br {
    display: none;
  }
  .heading {
    max-width: 690px;
    margin: 0 auto;
  }
  .header {
    background: url(/images/bg-header-desktop.png) no-repeat;
    background-size: contain;
    padding: auto;
  }
  .features {
    display: flex;
    gap: 3.5rem;
  }
  .snippets__image {
    width: 100%;
    margin-left: -8rem;
    margin-top: 8rem;
  }
  .text-content {
    margin-right: 8rem;
    margin-top: 5rem;
  }
  .tools {
    display: flex;
    margin-top: 2rem;
  }
  .worked-with {
    display: flex;
    flex-direction: row;
    gap: 2.8rem;
    margin-bottom: 8rem;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .logo-1 {
    width: 100%;
  }
  .links-1 {
    margin-right: 10rem;
    margin-top: 3rem;
  }
  .links-2 {
    margin-right: 10rem;
    margin-top: 3rem;
  }
  .links-3 {
    margin-right: 10rem;
    margin-top: 3rem;
  }
  .socials {
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 125%;
  }
}
